################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Demos/SimpleWebApp/.vs
/Demos/SimpleWebApp/SimpleWebApp/bin
/Demos/SimpleWebApp/SimpleWebApp/bin/Debug/net8.0/appsettings.Development.json
/Demos/SimpleWebApp/SimpleWebApp/obj
/Docker/NodeJsWebDemo/node_modules
/DotNet/AspNetMvcDemo/.vscode
/DotNet/AspNetMvcDemo/bin/Debug/net8.0
/DotNet/AspNetMvcDemo/bin/Debug/net8.0/appsettings.Development.json
/DotNet/AspNetMvcDemo/obj
/DotNet/AspNetWebApiDemo/.vs
/DotNet/AspNetWebApiDemo/AspNetWebApiDemo/bin/Debug/net7.0
/DotNet/AspNetWebApiDemo/AspNetWebApiDemo/bin/Debug/net7.0/appsettings.Development.json
/DotNet/AspNetWebApiDemo/AspNetWebApiDemo/obj
/DotNet/AzureBlobStorageDemo/.vs
/DotNet/AzureBlobStorageDemo/AzureBlobStorageDemo/bin/Debug/net8.0
/DotNet/AzureBlobStorageDemo/AzureBlobStorageDemo/obj
/DotNet/AzureFunctionAppDemo/.vs
/DotNet/AzureQueueDemo/.vs
/DotNet/AzureQueueDemo/AzureQueueDemo/bin/Debug/net8.0
/DotNet/AzureQueueDemo/AzureQueueDemo/obj
/DotNet/AzureQueueDemo/QueueOrderReader/bin/Debug/net8.0
/DotNet/AzureQueueDemo/QueueOrderReader/obj
/DotNet/CopyWebApiDataToSqlDatabase/.vs
/DotNet/CopyWebApiDataToSqlDatabase/CopyWebApiDataToSqlDatabase/bin/Debug/net8.0
/DotNet/CopyWebApiDataToSqlDatabase/CopyWebApiDataToSqlDatabase/obj
/DotNet/CsvReader/.vscode
/DotNet/CsvReader/bin/Debug/net8.0
/DotNet/CsvReader/obj
/DotNet/GuessTheNumberGame/.vscode
/DotNet/GuessTheNumberGame/bin/Debug/net8.0
/DotNet/GuessTheNumberGame/obj
/DotNet/GuessTheNumberGameAI/.vs
/DotNet/GuessTheNumberGameAI/GuessTheNumberGameAI/obj
/DotNet/HelloWorld/.vscode
/DotNet/HelloWorld/bin/Debug/net8.0
/DotNet/HelloWorld/obj
/DotNet/Microsoft365GraphApiDemo/.vs/Microsoft365GraphApiDemo
/DotNet/Microsoft365GraphApiDemo/Microsoft365GraphApiDemo/bin/Debug/net8.0
/DotNet/Microsoft365GraphApiDemo/Microsoft365GraphApiDemo/obj
/DotNet/Microsoft365GraphApiDemoWithWebUserInterface/.vs/Microsoft365GraphApiDemoWithWebUserInterface
/DotNet/Microsoft365GraphApiDemoWithWebUserInterface/Microsoft365GraphApiDemoWithWebUserInterface/bin/Debug/net8.0
/DotNet/SqlServerDatabaseTest/.vscode
/DotNet/SqlServerDatabaseTest/bin/Debug/net8.0
/DotNet/SqlServerDatabaseTest/obj
/DotNet/StringPerfomance/.vscode
/DotNet/StringPerfomance/bin/Debug/net8.0
/DotNet/StringPerfomance/obj
/Integration/SalaryXmlToJsonConversion/.vs
/Integration/SalaryXmlToJsonConversion/SalaryXmlToJsonConversion/bin/Debug/net8.0
/Integration/SalaryXmlToJsonConversion/SalaryXmlToJsonConversion/obj
/Integration/WebApiClientDemo/.vs
/Integration/WebApiClientDemo/WebApiClientDemo/.vscode
/Integration/WebApiClientDemo/WebApiClientDemo/bin/Debug/net8.0
/JavaScript/ExpressWebDemo/node_modules
/JavaScript/NorthwindDemo/node_modules
/Integration/WebApiClientDemo/WebApiClientDemo/obj
/.vs
/DotNet/Microsoft365GraphApiDemoWithWebUserInterface/Microsoft365GraphApiDemoWithWebUserInterface/obj/Debug/net8.0/Microsoft365GraphApiDemoWithWebUserInterface.sourcelink.json
