<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://devacademy2024-2.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/d7a19591-07c4-4235-a5c8-ba15f47f5b3e/resourceGroups/DeveloperAcademy/providers/Microsoft.Web/sites/devacademy2024-2</ResourceId>
    <UserName>$devacademy2024-2</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://devacademy2024-2.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>